/* Esercizio 1 */
.ex-1-square:hover {
    background-color: red;
}

/* Esercizio 2 */
.ex-2-square {
    transition: 5s;
}

.ex-2-square:active {
    width: 1000px;
}

/* Esercizio 3 */
.ex-3-square:hover {
    border-radius: 50%;
}

/* Esercizio 4 */
.ex-4-square:hover {
    opacity: 0%;
}

/* Esercizio 5 */
.ex-5-square:hover {
    scale: 2;
}

.ex-5-square:active {
    scale: 0.5;
}

/* Esercizio 6 -7 - 8 */
.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img:hover {
    filter: grayscale(1);
}

.ex-8-img:hover {
    filter: sepia(1);
    border-radius: 20px;
}

/* Esercizio 9 */
.ex-9-img:hover {
    filter: sepia(0.8);
    border-radius: 20px;
    scale: 1.5;
}

/* Esercizio 10 */
@keyframes rotazione {
    0% {
        transform: rotate(1turn);
    }
}
/* Esercizio 11 */
.ex-11-icon:hover {
    animation: halfrotation 1s ease-in;
}

@keyframes halfrotation {
    0% {
        transform: rotate(0deg);
    }

    95% {
        transform: rotate(278deg);
    }

    100% {
        transform: rotate(0deg);
    }
}